node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.dev.vars
.nitro
.tanstack
.wrangler
.output
.playwright-cli
output/playwright
.vinxi
__unconfig*
todos.json

.vercel

# Durable memory written by the local server.
.gideon
